@charset "UTF-8";
html {
    /* ルートのフォントサイズを10pxに設定しておく */
    font-size: 62.5%;
}

body {
    /* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
    font-size: 1.6em;
    margin: -20px 0 0 0;
    padding: 0;
    max-width: 1280px;
    font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

@media screen and (max-width: 899px) {
    body {
        margin-top: 0;
    }
}

.wrap {
    overflow: hidden;
}

.section_inner {
    padding: 100px 220px;
}

@media screen and (max-width: 899px) {
    .section_inner {
        padding: 70px 0;
    }
}

.title_wrapper {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 899px) {
    .title_wrapper {
        flex-direction: column;
        text-align: center;
    }
}

.h3_title {
    padding-bottom: 2rem;
    font-weight: 400;
    letter-spacing: .1em;
    display: inline-block;
    font-size: 3rem;
    background: url(https://github.com/sunacodesu/pp_mosya.github.io/blob/master/sectionTitle-underLine@2x.png?raw=true) 0 100%/68px auto no-repeat;
}

@media screen and (max-width: 899px) {
    .h3_title {
        display: inline-block;
        background: url(https://github.com/sunacodesu/pp_mosya.github.io/blob/master/sectionTitle-underLine@2x.png?raw=true) 50% 100%/68px auto no-repeat;
    }
}

.more_pc {
    display: block;
}

@media screen and (max-width: 899px) {
    .more_pc {
        display: none;
    }
}

.more_tab {
    display: none;
}

@media screen and (max-width: 899px) {
    .more_tab {
        display: block;
        text-align: center;
    }
}

.button {
    font-size: 1.4rem;
    border: 1px solid #000;
    display: inline-block;
    padding: 1.6rem 6rem;
    color: #000;
    position: relative;
    background: url(https://github.com/sunacodesu/pp_mosya.github.io/blob/master/button-arrow@2x.png?raw=true) no-repeat;
    background-size: 8px 12px;
    transition: all .3s ease;
    background-position: 90% 50%;
}

.button a {
    letter-spacing: .1rem;
    transition: all .3s ease;
    text-decoration: none;
}

.button:hover {
    color: #fff1ff;
    text-decoration: none;
    position: relative;
    background: url(https://github.com/sunacodesu/pp_mosya.github.io/blob/master/button-arrow-hover@2x.png?raw=true) no-repeat;
    background-size: 8px 12px;
    background-position: 90% 50%;
    background-color: #000;
}

.home {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.home .bg-slider {
    height: 100vh;
    background-position: center center;
    overflow: hidden;
    background-size: cover;
}

.home .bg-slider .header {
    display: flex;
    justify-content: space-between;
    padding: 7rem 7% 0;
    align-items: center;
    color: #fff;
}

@media screen and (max-width: 899px) {
    .home .bg-slider .header {
        padding: 0;
        display: block;
    }
}

.home .bg-slider .header .header_logo a {
    display: block;
    width: 266px;
    height: 72px;
    font-size: 0;
    background: url(../img/siteLogo-pc@2x.png) left top/266px auto no-repeat;
    transition: all .3s ease;
}

.home .bg-slider .header .header_logo a:hover {
    opacity: .6;
    filter: alpha(opacity=60);
}

@media screen and (max-width: 899px) {
    .home .bg-slider .header .header_logo {
        display: none;
    }
}

@media screen and (max-width: 899px) {
    .home .bg-slider .header .btn-more {
        width: 100%;
        text-align: center;
        line-height: 30px;
        background-color: #f1f1f1;
        padding: 10px 15px;
        cursor: pointer;
        color: grey;
        display: flex;
        justify-content: space-between;
    }
}

.home .bg-slider .header .btn-more #hamburger {
    height: 30px;
    width: 30px;
}

.home .bg-slider .header .close {
    font-weight: normal;
    font-size: 1.5rem;
    opacity: 1;
}

.home .bg-slider .header .dropDown {
    display: none;
}

@media screen and (max-width: 1024px) {
    .home .bg-slider .header .dropDown {
        display: block;
        background: rgba(7, 7, 7, .5);
    }
}

@media screen and (max-width: 1024px) {
    .home .bg-slider .header .dropDown ul {
        flex-direction: column;
    }
}

@media screen and (max-width: 1024px) {
    .home .bg-slider .header .dropDown ul li {
        text-transform: uppercase;
        padding: 2rem 4rem;
        list-style: none;
        border-bottom: 1px solid #fff;
    }
}

.home .bg-slider .sp_header_logo {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    z-index: -1;
}

@media screen and (max-width: 899px) {
    .home .bg-slider .sp_header_logo {
        display: block;
    }
}

.home .bg-slider .sp_header_logo .sp_siteLogo {
    color: #fff;
}

.home .bg-slider .overlay_img {
    background-size: contain;
    width: 100%;
    height: 38px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}

@media screen and (max-width: 1024px) {
    .home .bg-slider .overlay_img {
        width: 180%;
    }
}

.home .bg-slider .down-arrow {
    position: absolute;
    display: inline-block;
    width: 22px;
    height: 13px;
    font-size: 0;
    background: url(https://github.com/sunacodesu/pp_mosya.github.io/blob/master/mainVisual-arrow@2x.png?raw=true) bottom/22px auto no-repeat;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
}

.menu_link {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
    .menu_link {
        display: none;
    }
}

.menu_linkWrapper {
    display: block;
    width: 100%;
}

.menu_link li:not(:last-child) {
    margin-right: 2rem;
}

.about {
    padding-top: 110px;
    padding-bottom: 80px;
    margin: 0 auto;
    background-color: #f6f6f6;
    text-align: center;
}

@media screen and (max-width: 501px) {
    .about {
        margin-left: auto;
        text-align: left;
    }
}

.about h2 {
    font-size: 4rem;
    letter-spacing: .3rem;
    line-height: 1.5;
}

@media screen and (max-width: 501px) {
    .about h2 {
        margin-left: 5%;
        text-align: left;
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
}

.about .text-wrapper {
    margin: 0 7rem;
    display: inline-block;
    text-align: left;
    line-height: 1.7;
    font-size: 2rem;
}

@media screen and (max-width: 501px) {
    .about .text-wrapper {
        font-size: 1.5rem;
        margin-left: 5%;
        text-align: left;
    }
}

.about .about_text-item {
    margin-top: 1.2rem;
}

.about .concept-logo {
    margin: 3rem;
    width: 211px;
    height: 54px;
    background-image: url(../img/concept-siteLogo@2x.png);
    background-size: 211px 54px;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 501px) {
    .about .concept-logo {
        transform: scale(.7);
        transform-origin: 0 50%;
        margin: 15px 0 15px 0;
    }
}

.grid {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    transition: all .5s ease;
    padding: 4rem 2rem;
}

.grid a {
    color: #000;
    text-decoration: none;
}

.grid a:hover {
    opacity: .6;
    filter: alpha(opacity=60);
}

.grid p {
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: .2rem;
    padding: 0 1.4rem;
    line-height: 1.4;
    margin-top: 1.4rem;
}

@media screen and (max-width: 501px) {
    .grid p {
        padding: 0 3rem;
    }
}

.grid img {
    object-fit: cover;
    width: 100%;
}

.news {
    background-color: #f6f6f6;
}

.news .news_list_link {
    color: #000;
    text-decoration: none;
    display: block;
    transition: all .5s ease;
}

.news .news_list_link:hover {
    opacity: .6;
    filter: alpha(opacity=60);
}

.news .news_list_item {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 501px) {
    .news .news_list_item {
        flex-direction: column;
        padding: 0 3rem 4rem;
        margin-top: 2rem;
    }
}

.news .news_list_item .news_img_wrapper {
    width: 38%;
}

@media screen and (max-width: 501px) {
    .news .news_list_item .news_img_wrapper {
        width: 100%;
        padding-bottom: 1.5rem;
    }
}

.news .news_list_item .news_img_wrapper img {
    width: 100%;
}

.news .news_list_item .news_text-block {
    width: 58%;
}

@media screen and (max-width: 501px) {
    .news .news_list_item .news_text-block {
        width: 100%;
    }
}

.news .news_list_item .news_text-block h3 {
    font-weight: bold;
    letter-spacing: .3rem;
    font-size: 1.8rem;
    line-height: 1.6;
}

.news .news_list_item .news_text-block .news_data {
    margin-top: .8rem;
}

.news .news_list_item .news_text-block .news_text {
    margin-top: 2rem;
}

@media screen and (max-width: 501px) {
    .news .news_list_item .news_text-block .news_text {
        display: none;
    }
}

.news .news_list_item .news_text-block .news_data, .news .news_list_item .news_text-block .news_text {
    color: #656c6e;
    line-height: 1.5;
    letter-spacing: .08rem;
    font-size: 1.3rem;
}

.sns {
    display: flex;
    background-color: #fff;
    padding: 50px 0;
    justify-content: center;
    text-align: center;
    position: relative;
}

@media screen and (max-width: 501px) {
    .sns {
        width: 90%;
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

.sns .back-to-top {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    font-size: 0;
    background: url(../img/backTop@2x.png) left top/50px auto no-repeat;
    left: 50%;
    top: -2.5rem;
    transition: all .3s ease;
    transform: translateX(-50%);
}

.sns .back-to-top:hover {
    top: -3rem;
    cursor: pointer;
    cursor: hand;
}

.sns .sns-item {
    margin: 0 .8rem;
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    transition: all .3s ease;
}

@media screen and (max-width: 501px) {
    .sns .sns-item {
        margin: 0;
        font-size: 1.2rem;
    }
}

.sns .sns-item .btn_sns {
    padding: 1.5rem 1.5rem;
}

@media screen and (max-width: 501px) {
    .sns .sns-item .btn_sns {
        padding: 1rem 0 2rem;
        box-sizing: border-box;
        height: 46px;
        line-height: 24px;
        word-break: break-all;
    }
}

.sns .sns-item .facebook {
    color: #4871a9;
    border: 1px solid #4871a9;
}

.sns .sns-item .facebook:hover {
    color: #fff;
    background-color: #4871a9;
}

@media screen and (max-width: 501px) {
    .sns .sns-item .facebook {
        display: block;
    }
}

.sns .sns-item .twitter {
    color: #70bdd3;
    border: 1px solid #70bdd3;
}

.sns .sns-item .twitter:hover {
    color: #fff;
    background-color: #70bdd3;
}

@media screen and (max-width: 501px) {
    .sns .sns-item .twitter {
        display: block;
    }
}

.sns .sns-item .hatena {
    color: #2f9bcd;
    border: 1px solid #2f9bcd;
}

.sns .sns-item .hatena:hover {
    color: #fff;
    background-color: #2f9bcd;
}

@media screen and (max-width: 501px) {
    .sns .sns-item .hatena {
        display: block;
    }
}

.sns .sns-item .line {
    display: none;
    color: #147a0f;
    border: 1px solid #1c9f15;
}

.sns .sns-item .line:hover {
    color: #fff;
    background-color: #1c9f15;
}

@media screen and (max-width: 501px) {
    .sns .sns-item .line {
        display: block;
    }
}

.footer_nav {
    background-color: #939899;
    padding: 3.5rem 0;
}

@media screen and (max-width: 501px) {
    .footer_nav {
        padding: 0;
    }
}

.footer_nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

@media screen and (max-width: 501px) {
    .footer_nav ul {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.footer_nav ul li:not(:last-child) {
    margin-right: 3.3rem;
}

@media screen and (max-width: 501px) {
    .footer_nav ul li:not(:last-child) {
        margin: 0;
    }
}

@media screen and (max-width: 501px) {
    .footer_nav ul li {
        padding: 2rem 0;
        border-bottom: 1px solid #fff;
    }
}

.footer_nav ul a {
    font-size: 14px;
    letter-spacing: .2rem;
    transition: all .3s ease;
    color: #fff;
    text-decoration: none;
}

.footer_nav ul a:hover {
    color: #dcdddd;
}

.footer {
    background-color: #656c6e;
    font-size: 1.1rem;
    letter-spacing: .1rem;
    color: #fff;
    padding: 4rem 0;
}

@media screen and (max-width: 501px) {
    .footer {
        padding: 4rem 0;
    }
}

.footer .footer_wrapper {
    margin: 0 17rem;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 501px) {
    .footer .footer_wrapper {
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
}

.footer .footer_wrapper .footer_logo a {
    transition: all .5s ease;
    display: block;
    width: 89px;
    height: 90px;
    font-size: 0;
    background: url(../img/siteLogo-small@2x.png) left top/90px auto no-repeat;
}

.footer .footer_wrapper .footer_logo a:hover {
    opacity: .6;
    filter: alpha(opacity=60);
}

@media screen and (max-width: 501px) {
    .footer .footer_wrapper .footer_logo {
        padding-bottom: 2rem;
    }
}

.footer .copy-right {
    display: flex;
}

@media screen and (max-width: 501px) {
    .footer .copy-right {
        flex-direction: column;
        font-size: .8rem;
        text-align: center;
        line-height: 1.5;
    }
}

.apple {
    font-size: 5rem;
}
